

body {
	background-color:rgb(85, 85, 160);
    background-repeat: no-repeat;
    background-image: url("b1.jpg");
    background-position: center;
    background-size:contain;
	color: #333;
	font-family: Lato, sans-serif;
	
}

.container {
	display: block;
	width: 410px;
	margin: 10px auto 100px;
	background-color:ivory;
	padding:0px 10px 10px 10px;
	border-radius:9px;
}

h2 {
	text-align:center;
	padding-top:10px;
	margin-bottom:0px;
}

ul {
	margin: 0;
	padding: 0;
}

li * {
	float: left;
}

li,
h3 {
	clear: both;
	list-style:none;
}

input,
button {
	outline:auto;
}

button {
	background: none;
	border: 0px;
	color:black;
	font-size: 15px;
	width: 62px;
	margin: 9px 0 0;
	font-family: Lato, sans-serif;
	cursor: pointer;
    background-color:white;

}

button:hover {
    background-color:aliceblue;

}




h3,
label[for='new-task'] {
	color: #333;
	font-weight: 710;
	font-size: 15px;
	border-bottom: 2px solid #544c4c;
	padding: 20px 0 10px;
	margin: 0;
	text-transform: uppercase;
}

input[type="text"] {
	margin: 0;
	font-size: 18px;
	line-height: 18px;
	height: 18px;
	padding: 10px;
	border: 1px solid #ddd;
	background: #fff;
	border-radius: 6px;
	font-family: Lato, sans-serif;

}

input[type="text"]:focus {
	color: #333;
}



label[for='new-task'] {
	display: block;
	margin: 0 0 20px;
}

input#new-task {
	float: left;
	width: 318px;
}

p > button:hover {
	color:#333;
}




li {
	overflow: hidden;
	padding: 20px 0;
	border-bottom: 1px solid #eee;
}

li > input[type="checkbox"] {
	margin: 0 10px;
	position: relative;
	top: 15px;
}

li > label {
	font-size: 20px;
	line-height: 42px;
	width: 239px;
	padding: 0 0 0 11px;
}

li > input[type="text"] {
	width: 224px;
}

li > .delete:hover {
	color: #CF2323;
}




#completed-tasks label {
	text-decoration: line-through;
	color: #888;
}



ul li input[type=text] {
	display: none;
}

ul li.editMode input[type=text] {
	display: block;
}

ul li.editMode label {
	display: none;
}